<div class="comments">
  <div id="new_comment">
    <div>
      <%= f.text_area :new_body, placeholder: "Append a comment" %>
      <%= render "comments/markdown_tip" %>
    </div>
    <div class="message"></div>
    <div id="comment_discuss_cell" class="submit">
      <%= f.submit "Discuss" %>
    </div>
  </div>
<%-   (controller_name == "comments" ? @comments.drop(1) : @comments).each do |comment|
        show = comment.user.id == session[:login] -%>
  <div id="comment_<%= comment.id %>">
    <div class="comment<%= ' hide' if show -%>" data-body="<%= comment.body %>">
      <%= markdown comment.body %>
      <span class="timestamp"><%= comment.created_at.to_formatted_s(:long) %></span>
    </div>
<%-     if show -%>
    <div id="comment_<%= comment.id %>_edit_cell" class="comment_edit">
      <div><%= f.text_area :"body_#{comment.id}", placeholder: "Do over!" %></div>
      <div class="message"></div>
    </div>
<%-     end -%>
    <div class="commenter">
      <%= link_to comment.user.handle, comment.user %>
<%-     if show -%> - 
      <span class="action edit">don't edit</span> - 
      <span class="action remove">don't remove</span>
      <span class="comment_remove">
        <span>Are you <b>sure</b>?</span>
        <%= f.submit "Remove", class: :invisible %>
      </span>
      <%= f.submit "Update" %>
<%-     end -%>
    </div>
  </div>
<%-   end -%>
</table>

