<table class="comments">
  <caption>
    <div>Append a comment</div>
    <%= render "comments/markdown_tip" %>
    <textarea></textarea>
    <%= f.submit "Discuss" %>
  </caption> 
<%-   (controller_name == "comments" ? @comments.drop(1) : @comments).each do |comment|
        show = comment.user.id == session[:login] -%>
  <tr id="comment_<%= comment.id %>">
    <td class="commenter">
      <%= link_to comment.user.handle, comment.user %>
<%-     if show -%>
      <span class="action edit">don't edit</span> - 
      <span class="action remove">don't remove</span>
      <span class="comment_remove">
        <span>Are you <b>sure</b>?</span>
        <%= f.submit "Remove", class: :invisible %>
      </span>
      <%= f.submit "Update" %>
<%-     end -%>
    </td>
    <td class="comment<%= ' hide' if show -%>" data-body="<%= comment.body %>">
      <div><%= markdown comment.body %>
        <span class="timestamp"><%= comment.created_at.to_formatted_s(:long) %></span>
      </div>
    </td>
    <%- if show -%><td class="comment_edit"><textarea></textarea></td><%- end -%>
  </tr>
<%-   end -%>
</table>

