<div class="title">Start a discussion</div>
<%= form_for :comment, url: comments_path, html: {class: :new} do |f| %>
<%=   render "comments/markdown_tip" %>
  <p>
<%=   fields_for :comment_thread do |t| %>
<%=     t.label :title %>
<%=     t.text_field :title %>
<%-   end -%>
  </p>
  <p>
<%=   f.text_area :body %>
  </p>
  <p>
<%=   f.submit "Discuss" %>
  </p>
<%- end -%>
