<div class="title">
  <a href="/">
    <img src="/assets/mclogo-white.png" />
    Makers' Circle
  </a>
</div>
<div class="body">
<%- if @original_comment.user.nil? -%>
  <div class="show">
    <div class="removed">[ removed ]</div>
  </div>
<%- elsif @original_comment.user.id == session[:login] -%>
  <%= form_for :discussion, url: @original_comment, method: :patch, action: :comments, html: {class: :"show active"} do |f| %>
    <div class="title" data-title="<%= @original_comment.comment_threads.first.title %>">
      <span class="hide"><%= @original_comment.comment_threads.first.title %></span>
      <span class="rename">
<%=     fields_for :comment_thread do |t| %>
        <%= t.text_field :title %>
<%-     end -%>
      </span>
    </div>
    <div class="body hide" data-body="<%= @original_comment.body %>">
      <%= markdown @original_comment.body %>
      <div class="timestamp"><%= @original_comment.created_at.to_formatted_s(:long) %></div>
    </div>
    <div class="body_edit">
      <%= f.text_area :body %>
      <%= render "comments/markdown_tip" %>
    </div>
    <div class="remove">
      <span>Are you <b>sure</b>?</span>
      <%= f.submit "Remove", class: :invisible %>
    </div>
    <div class="subhead">
      posted by <%= link_to @original_comment.user.handle, @original_comment.user %> - 
      <span class="action edit">don't edit</span> - 
      <span class="action remove">don't remove</span>
    </div>
    <div class="message"></div>
    <div id="discussion_edit_cell" class="submit">
      <%= f.submit "Update", tabIndex: -1 %>
    </div>
  <%- end -%>
<%- else -%>
  <div class="show">
    <div class="title"><%= @original_comment.comment_threads.first.title %></div>
    <div class="body">
      <%= markdown @original_comment.body %>
      <span class="timestamp"><%= @original_comment.created_at.to_formatted_s(:long) %></span>
    </div>
    <div class="subhead">posted by <%= link_to @original_comment.user.handle, @original_comment.user %></div>
  </div>
<%- end -%>
  <%= form_for :comment, url: comments_path, method: :create, html: {id: "poly_comment"} do |f| %>
<%= fields_for :comment_thread do |t| %>
    <%= t.hidden_field :id, value: @original_comment.comment_threads.first.id %>
<%- end -%>
    <%= f.hidden_field :body %>
    <%= render partial: "comments/thread", locals: {f: f} %>
  <%- end -%>
</div>