<div class="title">Register a new account</div>
<%= form_for :user, url: users_path do |f| %>
  <p>
    <%= f.label "User name" %><br>
    <%= f.text_field :handle %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
