<div class="title">
  <a href="/">
    <img src="/assets/mclogo-white.png" />
    Makers' Circle
  </a>
</div>
<div class="body">
<%- if @user.id == session[:login] -%>
  <%= form_for :user, url: @user, method: :patch, html: {class: :"show active"} do |f| %>
    <div class="title"><%= @user.handle%></div>
    <div class="body hide" data-body="<%= @user.intro %>"><%= markdown @user.intro %></div>
    <div class="body_edit">
      <%= f.text_area :intro %>
      <%= render "comments/markdown_tip" %>
    </div>
<%=     f.fields_for :prefs do |p| %>
    <table class="prefs">
      <caption>Prefs</caption>
<%-       @prefs_meta.each do |key, ary| %>
      <tr>
        <td class="key"><%= key %></td>
      </tr>
<%-         ary.each do |opt| -%>
      <tr>
        <td class="opt">
          <%= p.radio_button(key.to_sym, opt, (@user.prefs[key] == opt ? {checked: "checked"} : {})) + " #{opt} " %>
        </td>
      </tr>
<%-         end -%>
<%-       end -%>
    </table>
<%-     end -%>
    <div class="subhead">
      <%= "joined on " + @user.created_at.to_date.to_formatted_s(:long_ordinal) %> - 
      <span class="action edit">don't edit</span>
      <!--span class="action deregister">don't deregister</span-->
      <span class="email"><%= @user.email %></span>
    </div>
    <div class="message"></div>
    <div id="user_edit_cell" class="submit">
      <%= f.submit "Update", tabIndex: -1 %>
    </div>
  <%- end -%>
<%- else -%>
  <div class="show">
    <div class="title"><%= @user.handle%></div>
    <div class="body"><%= markdown @user.intro %></div>
    <div class="subhead">
      <%= "joined on " + @user.created_at.to_date.to_formatted_s(:long_ordinal) %>
<%-   if @user.prefs["email"] == "shown" -%>
      <div class="email"><%= @user.email %></div>
<%-   end -%>
    </div>
  </div>
<%- end -%>
  <table class="threads">
<%- @posts.each do |post|
      comment_count = post.comment_threads.first.comment_count -%>
    <tr>
      <td><%= link_to (post.comment_threads.first.title || "something"), post_path(post.id) %></td>
      <td><%= pluralize(comment_count, "comment") unless comment_count.nil? && post != @posts.first %></td>
    </tr>
<%- end -%>
  </table>
</div>