<div class="title">
  <a href="/">
    <img src="/assets/mclogo-white.png" />
    Makers' Circle
  </a>
</div>
<div class="body">
<%= render partial: "events/list", locals: {threads: @events} %>
<%- if controller.allow_create :events -%>
  <%= form_for :event, url: events_path, html: {class: :new, id: "new_event"} do |f| %>
    <label for="new_event" class="form_label">Post one</label>
    <div id="event_title_cell">
<%=     fields_for :comment_thread do |t| %>
<%=       t.text_field :title, placeholder: "Title" %>
<%-     end -%>
    </div>
    <div id="event_time_cell">
<%=     f.datetime_select :time %>
    </div>
    <div id="event_details_cell">
<%=     f.text_area :details, placeholder: "Details" %>
<%=     render "comments/markdown_tip" %>
    </div>
    <div class="message"></div>
    <div id="event_submit_cell" class="submit">
<%=     f.submit "Publish", tabIndex: -1 %>
    </div>
  <%- end -%>
<%- end -%>
</div>