<div class="title">All events</div>
<div class="body">
<%= render partial: "events/list", locals: {threads: @events} %>
<%- if controller.allow_create :events -%>
<%=   form_for :event, url: events_path, html: {class: :new, id: "new_event"} do |f| %>
    <label for="new_event" class="form_label">Post one</label>
    <p>
<%=     fields_for :comment_thread do |t| %>
<%=       t.label :title %>
<%=       t.text_field :title %>
<%-     end -%>
    </p>
    <p>
<%=     f.label :time %>
<%=     f.datetime_select :time %>
    </p>
<%=     render "comments/markdown_tip" %>
    <p>
<%=     f.label :details %>
<%=     f.text_area :details %>
    </p>
    <p>
<%=     f.submit "Publish" %>
    </p>
<%-   end -%>
<%- end -%>
</div>