<div class="title">
  <a href="/">
    <img src="/assets/mclogo-white.png" />
    Makers' Circle
  </a>
</div>
<div class="body">
<%= render partial: "posts/list", locals: {threads: @posts} %>
<%- if controller.allow_create :posts -%>
  <%= form_for :post, url: posts_path, html: {class: :new, id: "new_post"} do |f| %>
    <label for="new_post" class="form_label">Post your thing</label>
<%=     fields_for :comment_thread do |t| %>
    <div id="post_title_cell">
      <%= t.text_field :title, placeholder: "Title" %>
    </div>
<%-     end -%>
    <div class="table">
      <div>
        <div id="post_kind_cell"><%= f.select :kind, options_for_select( ['kind of post', 'project', 'snippet'], disabled: ['snippet'] ) %></div>
        <div id="post_item_cell"><%= f.text_field :item, placeholder: "URL" %></div>
      </div>
    </div>
    <div class="message"></div>
    <div id="post_submit_cell">
      <%= f.submit "Post it!", tabIndex: -1 %>
    </div>
  <%- end -%>
<%- end -%>
</div>
