<div class="title">Post something</div>
<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.label session[:user_handle] %><br>
  </p>
<%= fields_for :comment_thread do |t| %>
  <p>
    <%= t.label :title %><br>
    <%= t.text_field :title %>
  </p>
<%- end -%>
  <p>
    <%= f.label :item %><br>
    <%= f.text_area :item %>
  </p>
  <p>
    <%= f.label :kind %> <%= f.select :kind, options_for_select( ['project', 'snippet'], disabled: ['snippet'] ) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
