<div class="title">A post</div>
<div class="show">
  <p>
    <strong>User name:</strong>
    <%= session[:user_handle] %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= @post.comment_threads.first.title %>
  </p>
  <p>
    <strong>Post:</strong>
    <%= link_to @post.item, @post.item if @post.kind == "project" %>
  </p>
  <p>
    <strong>Post kind:</strong>
    <%= @post.kind %>
  </p>
  <p>
    <%= link_to "Back to all the posts", posts_path %>
  </p>
</div>
<%= form_for :comment, url: comments_path do |f| %>
<%=   fields_for :comment_thread do |t| %>
<%=     t.hidden_field :id, value: @post.comment_threads.first.id %>
<%-   end -%>
<table class="comments">
  <caption>
   <div>Append a comment</div>
   <%= f.text_area :body %>
   <%= f.submit "Discuss" %>
  </caption> 
<%-   @comments.each do |comment| -%>
  <tr>
    <td class="commenter"><%= link_to comment.user.handle, user_path(comment.user_id) %></td>
    <td class="comment"><%= comment.body %>
      <div class="timestamp"><%= comment.created_at.to_formatted_s(:long) %></div>
    </td>
  </tr>
<%-   end -%>
</table>
<%- end -%>
