<!DOCTYPE html>
<html>
<head>
  <title>Makers' Circle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", controller_name, "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%- if session[:login] && (controller.controller_name != "users" || controller.action_name != "new") -%>
<div class="login_box">
  <%= link_to "logout", logout_path %> | 
  <%= link_to  session[:user_handle], user_path(session[:login]) %>
</div>
<%- end -%>
<%= yield %>
</body>
</html>
